.landing-container {
  text-align: center;
  padding: 50px;
}

.landing-container h1 {
  font-size: 2rem;
}

.error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .landing-container {
    padding: 20px;
  }

  .landing-container h1 {
    font-size: 1.5rem;
  }
}
